<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Galerie d'images
    </ion-title>
      <ion-buttons end>
      <button ion-button icon-left (click)="formPhotos()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: black;">
  <ion-row>
    <ion-col col-4><img src="assets/imgs/drone1.jpg"></ion-col>
   
    <ion-col col-4><img src="assets/imgs/drone1.jpg"></ion-col>
    <ion-col col-4><img src="assets/imgs/drone1.jpg"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4><img src="assets/imgs/drone2.jpg"></ion-col>
    <ion-col col-4><img src="assets/imgs/drone2.jpg"></ion-col>
    <ion-col col-4><img src="assets/imgs/drone2.jpg"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4><img src="assets/imgs/drone3.jpg"></ion-col>
    <ion-col col-4><img src="assets/imgs/drone3.jpg"></ion-col>
    <ion-col col-4><img src="assets/imgs/drone3.jpg"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4><img src="assets/imgs/drone4.jpg"></ion-col>
    <ion-col col-4><img src="assets/imgs/drone4.jpg"></ion-col>
    <ion-col col-4><img src="assets/imgs/drone4.jpg"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4><img src="assets/imgs/drone5.jpg"></ion-col>
    <ion-col col-4><img src="assets/imgs/drone5.jpg"></ion-col>
    <ion-col col-4><img src="assets/imgs/drone5.jpg"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
    <ion-col col-4> <button ion-button outline (click)="detailsPhotos()">Details</button></ion-col>
  </ion-row>
</ion-content>
