<ion-header>
  <ion-navbar>
    <ion-title>Formulaire galerie</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-list>
      <ion-item-divider>Ajouter une nouvelle photo</ion-item-divider>
      <ion-item>
        <ion-input placeholder="Titre" floating></ion-input>
      </ion-item>
        <ion-item>
          
          <ion-input placeholder="Description" floating></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button full outline color="secondary">
      <ion-icon name="image" (click)="galeriePhotos()">&nbsp; Uploader une photo</ion-icon>
    </button>
    <button ion-button full outline color="secondary">
      <ion-icon name="camera" (click)="prendrePhotos()">&nbsp; Capturer une photo</ion-icon>
    </button>
    <br>
    <button ion-button full>Ajouter dans la galerie</button>
  </form>
</ion-content>