<ion-header>

  <ion-navbar color="primary">
    
    <ion-title>Details de la photo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>{{ titre }}</ion-card-header>
    <ion-card-content>
        {{ description }}
    </ion-card-content>
   
  </ion-card>
</ion-content>